<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>

    {{>navbar}}

    <div class="imgContainer">

    </div>
    <div class="gobackbtn">
        <a href="/"><button>Go Back</button></a>
        
    </div>


    <!-- footer -->
    {{>footer}}

</body>

</html>