<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
    <div class="container">
        <h1 class="faqheader">Frequently Asked Questions</h1>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            How accurate are the weather forecasts provided by the app?
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Our weather forecasts strive for accuracy and are based on reliable data sources. However, please note that weather predictions are inherently uncertain, and unexpected changes can occur. We continuously work to improve the accuracy of our forecasts.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            How often are the weather forecasts updated?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Our weather forecasts are updated regularly throughout the day to provide you with the most current information. The frequency of updates may vary depending on the location and availability of data.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            What if I can't find a particular city in the app?
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        If you are unable to find a specific city, please ensure that you have entered the correct city name. In some cases, the app may not have data for certain smaller or less frequently searched locations.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Can I save multiple cities to check their weather easily?
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        At present, the app focuses on providing weather information for one city at a time. However, you can easily switch between different cities by entering their names in the search bar.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            What data sources does the app use for weather information?
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFSix" data-parent="#accordion">
                    <div class="card-body">
                        Our app utilizes a combination of trusted and reputable weather data sources to provide accurate forecasts. These sources may include national meteorological agencies, weather stations, satellite imagery, and other reliable weather data providers.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                            aria-expanded="false" aria-controls="collapseSix">
                            How can I report a bug or provide feedback about the app?
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                        We value your feedback and encourage you to report any bugs or provide suggestions for improvements. Please navigate to the "Contact Us" section of the app, where you can find instructions on how to reach our support team or submit feedback directly.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"
                            aria-expanded="false" aria-controls="collapseSeven">
                            Can I access weather information for international locations?
                        </button>
                    </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                    <div class="card-body">
                        Absolutely! Our app supports weather information for locations worldwide. You can search for and add international cities to track their weather conditions, ensuring you stay informed no matter where you are.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingEight">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight"
                            aria-expanded="false" aria-controls="collapseEight">
                            How do I refresh or update the weather information manually?
                        </button>
                    </h5>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                    <div class="card-body">
                        To manually refresh or update the weather information, you can simply pull down or swipe down on the screen, or look for a refresh icon within
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {{>footer}}

</body>

</html>